@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'Poiret';
  src: url('/fonts/PoiretOne-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.ttf');
}
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('/fonts/Ubuntu-MediumItalic.ttf');
}
@font-face {
  font-family: 'Icomoon';
  src: url('/fonts/icomoon.ttf');
}
.photo__container {
  height: 80%;
  margin: auto;
  width: 100%;
}
.photo__container .photo {
  display: inline-block;
  margin: 8px 8px 8px 0;
  position: relative;
}
.photo__container .photo:hover {
  cursor: pointer;
  -webkit-animation: floatUp .4s ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.51);
}
.photo__container .photo-gallery__container {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 90px;
  width: 100%;
}
.photo__container .photo-gallery__container .album-container__album {
  background-position: 20% 10px;
  cursor: pointer;
  display: inline-block;
  height: 300px;
  margin: 8px 8px 8px 0;
  position: relative;
  width: 70%;
}
.photo__container .photo-gallery__container .album-container__album__cover {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
.photo__container .photo-gallery__container .album-container__album__cover__text {
  color: white;
  font-size: 36px;
  margin: 8px;
  position: absolute;
  right: 0;
  top: 0;
}
.photo__container .photo-gallery__container__photos {
  padding: 0 45px;
}
.photo__container .photo-gallery__container__photos--before,
.photo__container .photo-gallery__container__photos--after {
  background: rgba(143, 143, 143, 0.4);
  cursor: pointer;
  font-family: 'Icomoon';
  height: 100%;
  position: absolute;
  top: 8px;
  width: 50px;
  z-index: 2;
}
.photo__container .photo-gallery__container__photos--before:hover,
.photo__container .photo-gallery__container__photos--after:hover {
  -webkit-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.51);
}
.photo__container .photo-gallery__container__photos--before {
  left: 0;
}
.photo__container .photo-gallery__container__photos--before .before-icon {
  bottom: 0;
  height: 40px;
  left: 5px;
  margin: auto;
  position: absolute;
  top: 0;
}
.photo__container .photo-gallery__container__photos--before .before-icon:before {
  color: #3f3f3f;
  content: '\e913';
  font-size: 45px;
}
.photo__container .photo-gallery__container__photos--after {
  right: 0;
}
.photo__container .photo-gallery__container__photos--after .after-icon {
  bottom: 0;
  height: 40px;
  margin: auto;
  position: absolute;
  right: 5px;
  top: 0;
}
.photo__container .photo-gallery__container__photos--after .after-icon:before {
  color: #3f3f3f;
  content: '\e912';
  font-size: 45px;
}
.photo__container .lightbox {
  background: rgba(143, 143, 143, 0.8);
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
}
.photo__container .lightbox__photo {
  bottom: 0;
  height: 90%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 20px;
}
.photo__container .lightbox__photo span {
  background: white;
  border-radius: 4px;
  color: black;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 300px;
  z-index: 4;
}
.photo__container .lightbox__photo__image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
@media (max-width: 450px) {
  .photo__container .photo-gallery__container {
    top: 100px;
  }
  .photo__container .photo-gallery__container__photos {
    padding: 0;
  }
  .photo__container .photo-gallery__container__photos--after {
    width: 32px;
  }
  .photo__container .photo-gallery__container__photos--after .after-icon {
    right: 0;
    width: 30px;
  }
  .photo__container .photo-gallery__container__photos--after .after-icon:before {
    font-size: 28px;
  }
  .photo__container .photo-gallery__container__photos--before {
    width: 32px;
  }
  .photo__container .photo-gallery__container__photos--before .before-icon {
    left: 0;
    width: 30px;
  }
  .photo__container .photo-gallery__container__photos--before .before-icon:before {
    font-size: 28px;
  }
}
@-webkit-keyframes floatOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes flyup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes floatUp {
  100% {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes flyup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.testing-horizontal {
  position: absolute;
  border: 1px solid black;
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.testing-vertical {
  border: 1px solid black;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}
.nav-button-container {
  position: absolute;
  left: 0;
  height: 45px;
  margin: auto;
  right: 0;
  top: 0;
  width: 100%;
}
.nav-button-container__bar {
  background: #3f3f3f;
}
.nav-button-container__bar .nav-button {
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu';
  font-size: 1em;
  height: 45px;
  position: relative;
  text-align: center;
  transition: all .5s ease;
  width: 20%;
}
.nav-button-container__bar .nav-button:hover {
  background: #337ab7;
}
.nav-button-container__bar .nav-button a {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.nav-button-container__bar #home a:after {
  content: 'Home';
}
.nav-button-container__bar #showAdventure a:after {
  content: 'Adventures';
}
.nav-button-container__bar #showResume a:after {
  content: 'Resume';
}
.nav-button-container__bar #showPosts a:after {
  content: 'Tech Blog';
}
.nav-button-container__bar #showGallery a:after {
  content: 'Gallery';
}
.tagline__wrapper {
  left: 0;
  margin: auto 25% auto auto;
  position: absolute;
  right: 0;
  top: 15%;
}
.tagline__wrapper__text {
  color: white;
  font-family: 'Poiret';
  font-size: 48px;
  margin: 5%;
  position: relative;
  -webkit-animation: flyup 1.5s fast;
  -webkit-animation-fill-mode: forwards;
}
.tagline__wrapper__author {
  bottom: -100px;
  font-size: 24px;
  left: 0;
  margin: 5%;
  position: absolute;
}
@media (orientation: landscape) {
  .cover__image {
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-image: url('/cristo-vert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (orientation: portrait) {
  .cover__image {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url('/cristo-horiz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 450px) {
  .post-box {
    margin: 0 0 0 55px;
  }
  .cover-image {
    top: -30px;
  }
  .tagline__wrapper {
    bottom: 0;
    height: 100px;
    left: initial;
    margin: 30% 0 auto;
    right: 0;
    top: 0;
    width: 70%;
  }
  .tagline__wrapper__text {
    font-size: 24px;
    text-align: center;
  }
}
@media (min-width: 451px) and (max-width: 720px) {
  .tagline__wrapper__text {
    font-size: 32px;
  }
}
@media (min-width: 1300px) {
  .tagline {
    font-size: 64px;
  }
  .tagline-author {
    bottom: -100px;
  }
  .cover-image {
    width: 100%;
    height: 100%;
    background-image: url('/cristo-large.jpg');
    background-position-y: -500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.post-box {
  margin: 100px 0 0;
}
.post-box ul {
  margin-left: 12.5%;
  padding: 0;
  width: 75%;
}
.post-box ul .post__container {
  font-family: 'Volkorn', arial, serif;
  width: 80%;
  margin-left: 5%;
}
.post-box ul .post__container__content {
  font-family: 'Volkorn';
  font-size: 18px;
  line-height: 28px;
}
.post-box ul .post__container__content p {
  margin: 15px 0;
}
.post-box ul .post__container__content img {
  height: auto !important;
  max-width: 100% !important;
}
.post-box ul .post__container__title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-box ul .post-preview__container {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
}
.post-box ul .post-preview__container__content {
  font-family: 'Volkorn';
  font-size: 18px;
  height: 90px;
  line-height: 28px;
  overflow: hidden;
}
#posts {
  display: none;
  -webkit-animation: flyup 1.5s fast;
  -webkit-animation-fill-mode: forwards;
}
.new-post {
  margin: 10%;
}
#cke_contentEditor {
  width: 90%;
}
label {
  font-weight: 400;
}
h1 {
  font-size: 36;
  font-weight: 400;
}
h2 {
  font-weight: 400;
}
.resume {
  background: black;
  color: white;
  min-width: 700px;
  position: absolute;
  top: 45px;
  width: 100%;
}
.resume__header {
  background: #242424;
  margin: 25px 25px 0;
  padding: 0 0 25px;
  position: relative;
}
.resume__header__profile {
  height: 150px;
  text-align: center;
  width: 100%;
}
.resume__header__profile__image {
  background: none;
  height: 100%;
}
.resume__header__info {
  text-align: center;
  width: 100%;
}
.resume__container {
  background: #1f1f1f;
  display: flex;
  height: 80%;
  margin: 0 25px 25px;
  padding: 25px 0 0;
}
.resume__container .main {
  flex: .8;
}
.resume__container .main__work {
  display: flex;
  height: 400px;
}
.resume__container .main__work__wrapper {
  flex: 6;
  min-width: 400px;
  position: relative;
}
.resume__container .main__work__wrapper__company {
  background: none;
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 300px;
}
.resume__container .main__work__wrapper .circle__main {
  border: 3px solid #34abd9;
  border-radius: 150px;
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 1s ease;
  width: 300px;
}
.resume__container .main__work__wrapper .circle__main .exp {
  border: 2px solid #2f2f2f;
  border-radius: 50px;
  bottom: 0;
  cursor: pointer;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 1s ease;
  width: 100px;
}
.resume__container .main__work__wrapper .circle__main .exp:hover {
  border: 2px solid white;
}
.resume__container .main__work__wrapper .circle__main .item-one {
  background: white;
}
.resume__container .main__work__wrapper .circle__main .item-one--selected--1 {
  transform: translateY(-150px);
}
.resume__container .main__work__wrapper .circle__main .item-one--selected--2 {
  transform: translateY(-150px) rotate(-120deg);
}
.resume__container .main__work__wrapper .circle__main .item-one--selected--3 {
  transform: translateY(-150px) rotate(120deg);
}
.resume__container .main__work__wrapper .circle__main .item-one__image {
  height: 90px;
  margin: 5px 5px 0 0;
}
.resume__container .main__work__wrapper .circle__main .item-two {
  background: #2d2d2d;
}
.resume__container .main__work__wrapper .circle__main .item-two--selected--1 {
  transform: rotate(-30deg) translate(-150px) rotate(30deg);
}
.resume__container .main__work__wrapper .circle__main .item-two--selected--2 {
  transform: rotate(-30deg) translate(-150px) rotate(-90deg);
}
.resume__container .main__work__wrapper .circle__main .item-two--selected--3 {
  transform: rotate(-30deg) translate(-150px) rotate(150deg);
}
.resume__container .main__work__wrapper .circle__main .item-two__image {
  margin: 35px 0 0;
  width: 85px;
}
.resume__container .main__work__wrapper .circle__main .item-three {
  background: black;
}
.resume__container .main__work__wrapper .circle__main .item-three--selected--1 {
  transform: rotate(30deg) translate(150px) rotate(-30deg);
}
.resume__container .main__work__wrapper .circle__main .item-three--selected--2 {
  transform: rotate(30deg) translate(150px) rotate(-150deg);
}
.resume__container .main__work__wrapper .circle__main .item-three--selected--3 {
  transform: rotate(30deg) translate(150px) rotate(90deg);
}
.resume__container .main__work__wrapper .circle__main .item-three__image {
  margin: 15px 0 0;
  width: 67px;
}
.resume__container .main__work__info {
  flex: 4;
}
.resume__container .main__work__info__company a {
  color: white;
}
.resume__container .main__projects {
  background: blue;
  height: 100px;
}
.resume__container .main__education {
  background: purple;
  height: 100px;
}
.resume__container .right {
  flex: .2;
}
.resume__container .right__skills {
  background: yellow;
  height: 80%;
}
