.post-box ul .post-container {
	width: 80%;
	margin-left: 5%;
}

.post-box ul {
	margin-left: 5%;
	width: 75%;
}

.post-content {
	font-size: 15;
}

.post-content img {
	height: auto !important;
	max-width: 100% !important;
}

.new-post {
	margin: 0 10%;
}

#cke_contentEditor {
	width: 60%;
}

label {
	font-weight: 400;
}

h1 {
	font-size: 36;
	font-weight: 400;
}

h2 {
	font-weight: 400;
}