/* The main body 
/////////////////*/

@font-face {
    font-family: myriad;
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
}

body{
	font-family: myriad;
}

#tech-content{ 
	position: absolute;
	width: 60%;
}

.container {
	width: 80%;
}
/* Message 
/////////////////*/
.content{
	width: 80%;
	background: blue;
}

.cont{
	overflow-x: hidden;
}

/* Sidebar 
/////////////////*/

.sidebar{
	color: #393333;
	display: table;
	position: absolute;
	margin-top: 50px;
	margin-right: 10%;
	right: 0px;
	height: 60%;
	width: 15%;
}

.sidebar a{
	color: inherit;
}

.inner-bar{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}