
/**.preheader {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 3px;
	height: 100%;
	background: black;
}

.horizontal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 3px;
	background: black;
}
**/

.header{
	background: #3E484A;
	position: absolute;
	right: 0px;
	width: 100%;
	height: 100%;
}

.message{
	width: 100%;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-top: 5%;
}


/********************************
BOXES
*********************************/

.message-box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 60px;
}

a:hover{
	text-decoration: none;
}

h1{
	margin-bottom: 0;
}

.find-box{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -3.5px;
	width: 80px;
	height: 7px;
}

.education {
	background: #BF9430;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 42px;
	margin-top: -156px;
	transform: rotateZ(-60deg);
	width: 80px;
	height: 12px;
}

.leadership {
	background: #BF4030;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 36px;
	margin-top: 143px;
	transform: rotateZ(60deg);
	width: 92px;
	height: 12px;
}

.work {
	background: #259342;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -4px;
	margin-left: -227px;
	width: 80px;
	height: 12px;
}

/********************************
CUBE AND CIRCLE WITH ANIMATIONS
*********************************/


.box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 105px;
	margin: auto;
	width: 5px;
	height: 5px;
	padding-right: 240px;
	text-align: center;
}

.circle {
	background: transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-animation: spinCircle 30s infinite linear;
}

.circle-dot {
	background: transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -162.5px;
	margin-top: -162.5px;
	width: 325px;
	height: 325px;
	border-radius: 150px;
	-webkit-animation: reverse spinCircle 30s infinite linear;
}

.white-circle {
	background: transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -175px;
	margin-top: -175px;
	width: 350px;
	height: 350px;
	border-radius: 150px;
	-webkit-animation: spinCircle 30s infinite linear;
}

@-webkit-keyframes spinCircle{
	from{}
	to{transform: rotateZ(360deg);}
}

.wrap{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	perspective: 10000px;
	perspective-origin: 50% 100px;
}

.cube {
	transform: rotateY(40deg) rotateX(45deg);
	-webkit-animation: spis 1s infinite linear;
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}

@-webkit-keyframes spin{
	from {transform: rotateY(45deg) rotateX(45deg) rotateZ(0);}
	to {transform: rotateY(405deg) rotateX(405deg) rotateZ(360deg);}
}

.cube div {
	position: absolute;
	background: #00D2FF;
	line-height: 150px;
	width: 150px;
	height: 150px;
 	box-shadow: inset 0 0 30px rgba(125,125,125,0.8);
}

.back {
	transform: translateZ(-75px) rotateY(180deg);
}

.right {
	transform: rotateY(-270deg) translate(75px);
	transform-origin: top right;
}

.left {
	transform: rotateY(270deg) translateX(-75px);
	transform-origin: center left;
}

.left:hover{
	-webkit-animation: moveLeft .5s ease;
	-webkit-animation-fill-mode: forwards;
}

.top {
	transform: rotateX(-90deg) translateY(-75px);
	transform-origin: top center;
}

.bottom {
	transform: rotateX(90deg) translateY(75px);
	transform-origin: bottom center;
}

.bottom:hover {
	-webkit-animation: moveBottom .5s ease;
	-webkit-animation-fill-mode: forwards;
}

.front {
	transform: translateZ(75px);
}

.front:hover, .front.hovered{
	-webkit-animation: moveFront .5s ease;
	-webkit-animation-fill-mode: forwards;
}	

@-webkit-keyframes moveFront{
	from {}
	to {transform: translateZ(110px);}
}

@-webkit-keyframes moveLeft {
	from {}
	to {transform-origin: center left;
		transform: translateX(-35px) translateZ(-75px) rotateY(270deg);}
}

@-webkit-keyframes moveBottom {
	from {}
	to {transform-origin: bottom center;
		transform: rotateX(90deg) translateY(75px) translateZ(-35px);}
}

/********************************
CANVAS DRAWING
*********************************/

.general-box{
	position: absolute;
	margin-left: 0;
	width: 200px;
	height: 200px;
}

#ed{
	border: 2px #FFCC66 solid;
	border-radius: 100px;
	transform-origin: left 0%;
	transform: scale(0) translateY(-100px);
	overflow: hidden;
}

#ed.hovered{
	-webkit-animation: scaleEd 1s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes scaleEd{
	from{}
	to{ transform-origin: left 0%; transform: scale(1) translateY(-100px);}
}

#proj{
	background: #BF4030;
	border: 3px #FF1E00 solid;
	transform-origin: left 0%;
	transform: translateY(-194px);
}

.tab{
	background: blue;
	height: 25px;
	width: 100px;
	position: absolute;
	transform: scale(0) translateX(130px);
}

.tab.hovered{
	-webkit-animation: scaleTab 2s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes scaleTab{
	0%{}
	50%{ transform: scale(0) translateX(150px);}
	100%{ transform: scale(1) translateX(150px);}
}**.
/**#ed{
	margin-left: 0;
	width: 300px;
	height: 300px;
}

.educ{
	transform:translateX(-300px);
	margin-top: 0;
	margin-left: 0;
	width: 300px;
	height: 299px;
}

.one{
	-webkit-animation: rotateOne 1s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateOne{
	from {}
	to{transform: rotateZ(15deg);}
}

.two{
	-webkit-animation: rotateTwo 1s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateTwo{
	from {}
	to{transform: rotateZ(30deg);}
}

.three{
	-webkit-animation: rotateThree 1s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateThree{
	from {}
	to{transform: rotateZ(45deg);}
}

.four{
	-webkit-animation: rotateFour 1s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateFour{
	from {}
	to{transform: rotateZ(60deg);}
}

.five{
	-webkit-animation: rotateFive 1s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateFive{
	from {}
	to{transform: rotateZ(75deg);}
}

#pro{
	margin-left: 0;
	transform: translateY(-294px);
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.proj{
	transform: translateY(300px) translateX(-300px);
	margin-left: 0;
	width: 300px;
	height: 300px;
	border: 3px #FF1E00 solid;
}

.educ.hovered, .proj.hovered{
	-webkit-animation: floatIn 1s ease;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes floatIn{
	from {}
	to {transform: translateY(0px) translateX(0px);}
}**/