.resume {
  background: black;
  color: white;
  min-width: 700px;
  position: absolute;
  top: 45px;
  width: 100%;

  .title {
    border-bottom: 3px solid #8f8f8f;
    padding: 0 25px;
  }

  &__header {
    background: #242424;
    margin: 25px 25px 0;
    padding: 0 0 25px;
    position: relative;

    &__profile {
      height: 150px;
      text-align: center;
      width: 100%;

      &__image {
        background: none;
        height: 100%;
      }
    }

    &__info {
      text-align: center;
      width: 100%;

      &__name {

      }

      &__email {

      }

      &__other {

      }
    }
  }

  &__container {
    background: #1f1f1f;
    display: flex;
    height: 80%;
    margin: 0 25px 25px;
    padding: 25px 0 0;

    .main {
      flex: .7;
      margin: 0 10px 0 0;

      &__work {
        display: flex;
        height: 400px;

        &__wrapper {
          flex: 6;
          width: 400px;
          position: relative;

          &__company {
            background: none;
            bottom: 0;
            height: 60px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 300px;
          }

          .circle {
            &__main {
              border: 3px solid #34abd9;
              border-radius: 150px;
              bottom: 0;
              height: 300px;
              left: 0;
              margin: auto;
              position: absolute;
              right: 0;
              text-align: center;
              top: 0;
              transition: all 1s ease;
              width: 300px;

              .exp {
                border: 2px solid #2f2f2f;
                border-radius: 50px;
                bottom: 0;
                cursor: pointer;
                height: 100px;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
                transition: all 1s ease;
                width: 100px;

                &:hover {
                  border: 2px solid white;
                }
              }

              .item-one {
                background: white;

                &--selected--1 {
                  transform: translateY(-150px);
                }

                &--selected--2 {
                  transform: translateY(-150px) rotate(-120deg);
                }

                &--selected--3 {
                  transform: translateY(-150px) rotate(120deg);
                }

                &__image {
                  height: 90px;
                  margin: 5px 5px 0 0;
                }
              }

              .item-two {
                background: #2d2d2d;

                &--selected--1 {
                  transform: rotate(-30deg) translate(-150px) rotate(30deg);
                }

                &--selected--2 {
                  transform: rotate(-30deg) translate(-150px) rotate(-90deg);
                }

                &--selected--3 {
                  transform: rotate(-30deg) translate(-150px) rotate(150deg);
                }

                &__image {
                  margin: 35px 0 0;
                  width: 85px;
                }
              }

              .item-three {
                background: black;

                &--selected--1 {
                  transform: rotate(30deg) translate(150px) rotate(-30deg);
                }

                &--selected--2 {
                  transform: rotate(30deg) translate(150px) rotate(-150deg);
                }

                &--selected--3 {
                  transform: rotate(30deg) translate(150px) rotate(90deg);
                }

                &__image {
                  margin: 15px 0 0;
                  width: 67px;
                }
              }
            }
          }
        }

        &__info {
          flex: 4;

          &__company {
            a {
              color: white;
            }
          }
        }
      }

      &__projects {
      }

      &__education {
        &__title
        {
          padding: 25px 25px 0;
        }

        ul {
          padding: 0;
        }

        .school__container {
          display: flex;
          list-style: none;
          padding: 25px 0 25px 25px;

          .school-container {
            flex: 2;

            .school {
              background: black;
              border: 2px solid #2f2f2f;
              border-radius: 50px;
              cursor: pointer;
              height: 100px;
              position: relative;
              transition: all 1s ease;
              width: 100px;

              &__image {
                bottom: 0;
                flex: 8;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
                width: 67px;
              }
            }
          }

          .description {
            padding: 0 0 0 25px;

            &__name {
              font-family: 'Ubuntu-Italic';
            }
          }
        }
      }
    }

    .right {
      background: #373737;
      flex: .3;
      margin: -25px 0 0;

      &__skills {
        height: 100%;
        margin: 10px 0 10px 10px;


        ul {
          list-style: none;
          padding: 0;

          .skill {
            display: flex;
            margin: 10px 0;

            &__container {
              margin: 10px 10px 10px 0;
              width: 100%;

              &__language {
                background: #8f8f8f;
                border-radius: 3px;
                height: 25px;
                position: relative;
                width: 100%;

                div {
                  height: 25px;
                }

                .javascript {
                  background: #03a22d;
                  border-radius: 3px;
                  width: 70%;
                }

                .c-sharp {
                  background: #164ca1;
                  border-radius: 3px;
                  width: 40%;
                }

                .html-css {
                  background: #ce3232;
                  border-radius: 3px;
                  width: 75%;
                }

                .java {
                  background: #f4e30c;
                  border-radius: 3px;
                  width: 45%;
                }

                .python {
                  background: #5418a5;
                  border-radius: 3px;
                  width: 30%;
                }

                .c-plus-plus {
                  background: #ce7932;
                  border-radius: 3px;
                  width: 37%;
                }

                .cover {
                  background: none;
                  overflow: hidden;
                  position: absolute;
                  text-indent: 100%;
                  top: 0;
                  width: 100%;

                  &:hover {
                    background: black;
                    opacity: .4;
                    text-indent: 5px;
                  }
                }
              }
            }
          }
        }
      }

      &__other {
        &__title {
          border-bottom: 1px solid #8f8f8f;
          margin: 0 5px;
          padding: 5px;
          text-align: center;
        }

        ul {
          list-style: none;
          padding: 20px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .resume__container {
    display: inline-block;

    .right {
        background: #1f1f1f;
    }
  }
}

@media (max-width: 450px) {
  .resume {
    min-width: 0;

    &__header {
      margin: 0;
      padding: 25px;
    }

    &__container {
      margin: 0;
      padding: 25px;

      .main {
        display: inline-block;

        &__work {
          display: inline-block;
          height: initial;

          &__wrapper {
            height: 300px;
            width: 100%;
            position: relative;

            &__company {
              font-size: 24px;
              width: 200px;
            }

            .circle {
              &__main {
                border-radius: 100px;
                height: 200px;
                width: 200px;

                .item-one {
                  background: white;

                  &--selected--1 {
                    transform: translateY(-100px);
                  }

                  &--selected--2 {
                    transform: translateY(-100px) rotate(-120deg);
                  }

                  &--selected--3 {
                    transform: translateY(-100px) rotate(120deg);
                  }
                }

                .item-two {
                  background: #2d2d2d;

                  &--selected--1 {
                    transform: rotate(-30deg) translate(-100px) rotate(30deg);
                  }

                  &--selected--2 {
                    transform: rotate(-30deg) translate(-100px) rotate(-90deg);
                  }

                  &--selected--3 {
                    transform: rotate(-30deg) translate(-100px) rotate(150deg);
                  }
                }

                .item-three {
                  background: black;

                  &--selected--1 {
                    transform: rotate(30deg) translate(100px) rotate(-30deg);
                  }

                  &--selected--2 {
                    transform: rotate(30deg) translate(100px) rotate(-150deg);
                  }

                  &--selected--3 {
                    transform: rotate(30deg) translate(100px) rotate(90deg);
                  }
                }
              }
            }
          }
        }

        &__projects {
          padding: 0;
        }

        &__education {
          &__title {
            padding: 0;
          }

          .school__container {
            display: inline-block;
            padding: 0;

            .description {
              padding: 0;
            }
          }
        }
      }

      .right {
        &__skills {
          margin: 0;
        }
      }
    }
  }
}
