{% include 'base.html' %}

{% block content %}

<link rel=stylesheet type="text/css" href="../static/css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<body>
	<div id="category" style="display:none; position:aboslute;">{{category}}</div>
	<div class="container">
		<div class="container-fluid home" id="main-panel">
			<h1>Hello World! Welcome to my blog and online resume.</h1>
			<hr>
		</div>
	</div>
	<div class="container">
		<div id='tech-content'>		
		</div>
	</div>
	<div class='sidebar'>
		<ul class='nav nav-sidebar inner-bar'>
			<li>
				<h3><a href="#current">Adventure Blog</a></h3>
			</li>
			<li >
				<h3><a href="#newgame">Tech Blog</a></h3>
			</li>
			<li>
				<h3><a href="#stats">Resume</a></h3>
			</li>
			<li>
				<h3><a href="#friends">Connect</a></h3>
			</li>
		</ul>
	</div>

</body>
<script>
window.onload = function(){
	$.get("/posts/{{category}}", function(data){
		while(data.indexOf('\'') != -1){
			data = data.replace('\'', '"')
		}

		var posts = JSON.parse(data);
		console.log(data.length);
		if(data.length == 2){
			var tech = $("#tech-content");
			var container = document.createElement("div");
			container.className = "box";

			var content = document.createElement("h1");
			content.innerHTML = "<p>There are no posts in this category</p>";
			content.wordWrap = "break-word";
			container.appendChild(content);
			tech[0].appendChild(container);
		}

		for(i = 0; i < posts.length; i++){
			var tech = $("#tech-content");
			var container = document.createElement("div");
			container.className = "box";

			var title = document.createElement("h1");
			title.innerHTML = posts[i].title;
			container.appendChild(title);

			var content = document.createElement("div");
			content.innerHTML = posts[i].content;
			content.wordWrap = "break-word";
			container.appendChild(content);


			var meta = document.createElement("div");
			meta.innerHTML = posts[i].date_created;
			container.appendChild(meta);

			tech[0].appendChild(container);
		}
	})
};
</script>



{% endblock %}