{%extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>Sign In</h1>
		<form class="form-signin" action='' method='post' name='login'>
			{{ form.hidden_tag() }}
			<p>
				<p style='display:inline; font-weight:bold'>Please enter your login information:</p><br><br>
				<div class ="input-group">
					{{ form.username(class_ = 'form-control', placeholder = 'Username' )}}<br><br>
				</div>
				<div class ="input-group">
					{{ form.password(class_ = 'form-control', placeholder = 'Password' )}}<br><br>
				</div>
				{% for error in form.username.errors %}
					<span style='color: red;'>[{{ error }}]</span><br>
				{% endfor %}
				{% for error in form.password.errors %}
					<span style='color: red;'>[{{ error }}]</span><br>
				{% endfor %}
			</p>
			<div class="checkbox">
				<label>{{ form.remember_me }} Remember Me</label>
			</div>
			<p>
				<button type='submit' class="btn">Sign In!</button>  
				<button name = 'register' value='/register' class='btn'>Register</button>
			</p>
		</form>
	</div>
{% endblock %}