<!DOCTYPE html>
<html lang='en'>
	<head>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	    <link href="/static/css/post.css" rel="stylesheet">
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <script src="/static/js/build/react.js"></script>
	    <script src="/static/js/build/JSXTransformer.js"></script>
		<script src="/static/js/ckeditor/ckeditor.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Resume</title>
	</head>

	<body>
		<div class="container">
			<h1>Write a new post</h1>
			<form class="form-horizontal" action='' method='post' name='register'>
				{{ form.hidden_tag() }}
				<p>
					{{ form.title.label }}<br>
					{{ form.title(size=50) }}
					{% for error in form.title.errors %}
						<div class='alert alert-danger' role='alert'>[{{ error }}]</div>
					{% endfor %}<br>
					{{ form.category.label }}<br>
					{{ form.category(size=50) }}
					{% for error in form.category.errors %}
						<div class='alert alert-danger' role='alert'>[{{ error }}]</div>
					{% endfor %}
					<div class="post-content">
						{{ form.content.label }}
						{{ form.content }}
						{% for error in form.content.errors %}
							<div class='alert alert-danger' role='alert'>[{{ error }}]</div>
						{% endfor %}
					</div>
				</p>
				<p><button type='submit' id="post" class="btn">Submit</button></p>
			</form>
			<button onClick = "fillContent()" class="btn">Submit</button>
		</div>
		<script>
			CKEDITOR.replace( 'content' );
			function fillContent(){
				var text = CKEDITOR.instances.content.getData();
				$("#content").val(text);
			}
		</script>
	</body>
</html>