<!DOCTYPE html>
<html lang='en'>
	<head>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	    <link href="/static/css/resume.css" rel="stylesheet">
	    <link href="/static/css/clock.css" rel="stylesheet">
	    <script src="https://code.jquery.com/jquery-latest.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <script src="/static/js/build/react.js"></script>
	    <script src="/static/js/build/JSXTransformer.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Resume</title>
	</head>

	<body class="header">
		<div class="preheader">
		</div>
		<div class="horizontal">
		</div>	

		<div class="circle">
			<img src="../static/img/circle.png">
		</div>
		<div class="circle-dot">
			<img style="background: transparent" src="../static/img/dot-circle.png">
		</div>
		<div class="white-circle">
			<img style="background: transparent" src="../static/img/white-circle.png">
		</div>
		<div class="education">
		</div>
		<div class="find-box" style="margin-left: 39px; margin-top:-154px; transform: rotateZ(-60deg); background: #FFB100;">
		</div>

		<div class="leadership">
		</div>
		<div class="find-box" style="width: 90px; margin-left: 35px; margin-top: 147px; transform: rotateZ(60deg); background: #FF1E00;">
		</div>

		<div class="work">
		</div>
		<div class="find-box" style="margin-left: -227px; background: #00C434;">
		</div>

		<div class="message-box" style="transform: translateX(248px) translateY(-217px);">
			<h1><a id="education" style="color: white; border-bottom: 5px #FFB100 solid">Education &nbsp</a></h1>
			<!--div id="ed">
				<div class="educ">
					<h3 style="position: absolute; margin-top: 0; transform: translateY(-1px)">
						<img id="zero" style="position: absolute;" src="../static/img/triangle.png">

						<img id="one" style="-webkit-filter: hue-rotate(1deg); transform-origin: top left; position: absolute;" src="../static/img/triangle.png">

						<img id="two" style="-webkit-filter: hue-rotate(3deg); transform-origin: top left; position: absolute;" src="../static/img/triangle.png">

						<img id="three" style="-webkit-filter: hue-rotate(5deg); transform-origin: top left; position: absolute;" src="../static/img/triangle.png">

						<img id="four" style="-webkit-filter: hue-rotate(7deg); transform-origin: top left; position: absolute;" src="../static/img/triangle.png">

						<img id="five" style="-webkit-filter: hue-rotate(9deg); transform-origin: top left; position: absolute;" src="../static/img/triangle.png">
					</h3>
				</div>
			</div-->
			<div id="tabs">
				<div class="tab"></div>
			</div>
			<div class="general-box" id="ed">
				<img id="icon-vandy" src="../static/img/vanderbilt.png" style="transform: translateX(-50px) translateY(-40px);">
			</div>
		</div>

		<div class="message-box" style="transform: translateX(250px) translateY(156px);">
			<h1><a id="projects" style="color: white; border-bottom: 5px #FF1E00 solid">&nbsp Projects &nbsp</a></h1>
			<div class="general-box" id="proj">
				<div class="inner-proj"></div>
			</div>
		</div>

		<div class="message-box" style="transform: translateX(-360px) translateY(-34px)">
			<h1><a style="color: #333333; border-bottom: 5px #00C434 solid">Work Experience &nbsp</a></h1>
			<div style="display: none" id="wor">
				<div class="work"><h3 style="margin-top: 0">Vanderbilt University</h3></div>
			</div>
		</div>

		<div class="box">
			<div class="wrap">
				<div class="cube">
					<div class="front"></div>
					<div class="back"></div>
					<div class="top"></div>
					<div class="bottom"></div>
					<div class="left"></div>
					<div class="right"></div>
				</div>
			</div>
		</div>

		<div class="clock" id="clock">
			<div class="minute" id="minute">0</div>
			<div class="hour"></div>
			<div class="second"></div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/animate-cube.js"></script>
</html>